[submodule "frcredox_hal"]
	path = frcredox_hal
	url = https://github.com/OpenFRC/HALRedux
[submodule "submodules/HALRedox"]
	path = submodules/HALRedox
	url = https://github.com/OpenFRC/HALRedux
[submodule "frcredox_hal"]
	path = frcredox_hal
	url = https://github.com/OpenFRC/HALRedox
